.tips {
    border: 3px groove forestgreen;
    background-color: limegreen;
}
.tip {
    margin-bottom: 1rem;
    font-size: 20px

}
.tipHeader{
    font-weight:bold;
    margin-bottom: 1rem;
    font-size: 20px;
    display: flex;
    justify-content: center;

    

}